.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.SuperiorQuaity {
  background-color: #282c34;
  color: white;
  display: flex;
  padding: 30px;
}
.NextToImg {
  flex-direction: row;
  padding-top: 80px;
}
.BestInClassDiv {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.BestInClassImg {
  border-radius: 60%;
  height: 300px;
  width: 400px;
  align-items: flex-start;
}
.SuperiorQualityImg {
  border-radius: 60%;
  height: 300px;
  width: 400px;
}
.AboutUsDiv {
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 50px;
  color: white;
}
.SanityCheckDiv {
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
.H5Color {
  color: gray;
}
.btn-light {
  border-radius: 25px;
}
.ContactUsDiv {
  text-align: center;
  background-color: yellowgreen;
  color: white;
}
.CopyDiv {
  text-align: center;
}
.herodiv {
  text-align: center;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  padding: 100px;
  background-image: url("./images/header.jpg");
  height: 100vh;
}
.btn-success {
  border-radius: 25px;
  background-color: yellowgreen;
}
.TextDiv {
  margin-top: 120px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
